<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page 1</title>
    <style>
        body {
            background-color: #FF5733; /* Change to your desired color */
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            {% for link in links %}
                <li><a href="{{ link.url }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <h1>Welcome to Page 1</h1>
    <h2>List of Names and Emails:</h2>
    <ul>
        {% for user in user_data %}
            <li>{{ user.name }} - {{ user.email }}</li>
        {% endfor %}
    </ul>
</body>
</html>
